body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem; /*tamaño de las letras*/
  line-height: 1.6em; /* interlineado */
  margin: 0;
  overflow-x: hidden;
}

.header{
	width: 100%;
	height: 15vh;
	background: rgb(255,255,255);
	text-align: center;
	border-bottom: 2px solid #333;
}
.logo{
	min-width: 50px;
	max-width: 90px;
}
.principal{
	height: 75vh;
}
.principal h1{
	text-align: center;
}
.catalogo{
	display: flex;
	flex-direction: column;
	height: 70vh;
	text-align: center;
}
.imagen{
	transition: all .7s;
	height: 80%;
	background: url('img/pag1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.caja-flechas{
	position: absolute;
	display: flex;
	width: 100%;
	height: 57%;
	align-items: center;
	justify-content: space-between;
}
.left{
	display: flex;
	padding: 1rem;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	transition: all .5s;
	cursor: pointer;
	font-size: 2rem;
	background: rgb(155,155,155,.3);
	border-radius: 50%;
}
.right{
	display: flex;
	padding: 1rem;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	transition: all .5s;
	cursor: pointer;
	font-size: 2rem;
	background: rgb(155,155,155,.3);
	border-radius: 50%;
}

.pag-actual{
	font-size: .8rem;
}
footer{
	display: flex;
	color:white;
	height: 5vh;
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	text-align: center;
	font-size: .8rem;
	justify-content: center;
}
footer p{
	margin:0;
}
footer a i{
	font-size: 1.5rem;
	color: #fff;
	margin-left:5px;
}
